/* Your custom styles */
    #main_text {
       font-family: 'Spectral',
       serif;
    }

    #compservhead {

letter-spacing: -1px;
font-size: 3rem;

    }
.dropdown-menu {
    min-width: 5rem;
    left: -50px;
}